:root {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    --border-color: red;
    --bg-color: pink;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

app-hola-mundo {
    width: 50%;
}