:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    --darkcolor: #330101;
    --lightcolor: #e3d1d4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
    ;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

header-login {
    grid-area: header;
    background-color: var(--darkcolor);
    color: white;
    padding: 0.5rem 1rem;
}

main {
    grid-area: main;
    display: grid;
    place-content: center;
}