<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./login.js" type="module" defer></script>
</head>

<body>
    <form>
        <header>
            <h1>LOGIN DE USUARIO</h1>
        </header>

        <label>Usuario: </label>
        <input type="text" id="tTxtUsername" value="sonia.silverado" required>

        <br>
        <label>Contraseña: </label>
        <input type="password" id="tTxtPassword" value="s" required>

        <br><br>
        <input type="button" id="tButValidar" value="Validar">
    </form>
</body>

</html>