<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">
    <script src="./show_students.js" type="module" defer></script>
</head>

<body>
    <header>
        <span>IES Ramón Arcas Meca</span>
        <span id="tSpnFullname"></span>
        <button id="tButCloseSession">Cerrar sesión</button>
    </header>
    <main>
        <table id="tTabStudents">
            <thead>
                <tr>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>

    <dialog id="tDlgMessage">
        <header></header>
        <p></p>
        <button>Cerrar</button>
    </dialog>
</body>

</html>